analyses/varying_initial_conditions/
analyses/varying_initial_conditions/*
*.dat
*.ipynb
.ipynb_checkpoints/dimers_sim-checkpoint.py
.ipynb_checkpoints/
__pycache__/
__pycache__/dimers_sim.cpython-39.pyc
Classical_dynamics.ipynb
.ipynb_checkpoints/old_funcs-checkpoint.py
.ipynb_checkpoints/Classical_dynamics-checkpoint.ipynb
.ipynb_checkpoints/Classical_dynamics-checkpoint.ipynb
.ipynb_checkpoints/dimers_sim-checkpoint.py
Classical_dynamics.ipynb
.ipynb_checkpoints/dimers_sim-checkpoint.py
.ipynb_checkpoints/Classical_dynamics-checkpoint.ipynb
__pycache__/dimers_sim.cpython-39.pyc
__pycache__/dimers_util.cpython-39.pyc
*.ipynb
.ipynb_checkpoints/dimers_sim-checkpoint.py
__pycache__/dimers_sim.cpython-39.pyc
.ipynb_checkpoints/Classical_dynamics-checkpoint.ipynb
.ipynb_checkpoints/dimers_sim-checkpoint.py
.ipynb_checkpoints/dimers_util-checkpoint.py
Classical_dynamics.ipynb
analyses/varying_initial_conditions/1234_ic_experiment_L80_t3000_d\[60\]____2022_12_29__11_16.pickle
analyses/varying_initial_conditions/1234_ic_experiment_L80_t30_d\[60\]____2023_01_03__09_21.pickle
analyses/varying_initial_conditions/_ic_experiment_L100_t100_d\[80\]____2022_12_28__18_33.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t10000_d\[60\]____2022_12_28__20_06.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t10000_d\[60\]____2022_12_28__20_16.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__22_05.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__22_23.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__22_26.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__22_40.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__22_43.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__22_50.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__22_58.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__23_02.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__23_12.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__23_15.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t3000_d\[60\]____2022_12_28__20_04.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t3000_d\[60\]____2022_12_28__20_16.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t3000_d\[60\]____2022_12_28__21_09.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t10000_d\[60\]____2022_12_28__20_06.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t10000_d\[60\]____2022_12_28__20_16.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__22_05.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__22_23.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__22_26.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__22_40.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__22_43.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__22_50.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__22_58.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__23_02.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__23_12.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__23_15.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t3000_d\[60\]____2022_12_28__20_04.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t3000_d\[60\]____2022_12_28__20_16.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t3000_d\[60\]____2022_12_28__21_09.pickle
analyses/varying_initial_conditions/_ic_experiment_L100_t100_d\[80\]____2022_12_28__18_33.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t10000_d\[60\]____2022_12_28__20_06.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t10000_d\[60\]____2022_12_28__20_16.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__22_05.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__22_23.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__22_26.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__22_40.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__22_43.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__22_50.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__22_58.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__23_02.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__23_12.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t12000_d\[60\]____2022_12_28__23_15.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t3000_d\[60\]____2022_12_28__20_04.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t3000_d\[60\]____2022_12_28__20_16.pickle
analyses/varying_initial_conditions/_ic_experiment_L130_t3000_d\[60\]____2022_12_28__21_09.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t10000_d\[60\]____2022_12_28__20_06.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t10000_d\[60\]____2022_12_28__20_16.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__22_05.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__22_23.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__22_26.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__22_40.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__22_43.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__22_50.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__22_58.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__23_02.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__23_12.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t12000_d\[60\]____2022_12_28__23_15.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t3000_d\[60\]____2022_12_28__20_04.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t3000_d\[60\]____2022_12_28__20_16.pickle
analyses/varying_initial_conditions/_ic_experiment_L180_t3000_d\[60\]____2022_12_28__21_09.pickle
analyses/varying_initial_conditions/cluster9898_ic_experiment_L530_t240000_d\[60\]____2023_01_06__04_19.pickle
analyses/varying_initial_conditions/cluster8783_ic_experiment_L380_t140000_d\[60\]____2023_01_04__20_41.pickle
analyses/varying_initial_conditions/cluster7526_ic_experiment_L430_t40000_d\[60\]____2023_01_03__09_08.pickle
analyses/varying_initial_conditions/cluster6484_ic_experiment_L630_t65000_d\[60\]____2023_01_03__11_42.pickle
analyses/varying_initial_conditions/cluster5607_ic_experiment_L530_t60000_d\[60\]____2023_01_03__10_41.pickle
analyses/varying_initial_conditions/cluster5264_ic_experiment_L730_t75000_d\[60\]____2023_01_03__13_40.pickle
analyses/varying_initial_conditions/cluster5168_ic_experiment_L430_t160000_d\[60\]____2023_01_05__01_22.pickle
analyses/varying_initial_conditions/cluster4970_ic_experiment_L330_t120000_d\[60\]____2023_01_04__16_57.pickle
analyses/varying_initial_conditions/cluster4328_ic_experiment_L330_t30000_d\[60\]____2023_01_03__08_35.pickle
analyses/varying_initial_conditions/cluster3887_ic_experiment_L930_t90000_d\[60\]____2023_01_03__18_09.pickle
analyses/varying_initial_conditions/cluster2789_ic_experiment_L830_t85000_d\[60\]____2023_01_03__16_06.pickle
analyses/varying_initial_conditions/cluster2467_ic_experiment_L480_t55000_d\[60\]____2023_01_03__10_08.pickle
analyses/varying_initial_conditions/cluster1977_ic_experiment_L380_t35000_d\[60\]____2023_01_03__08_49.pickle
analyses/varying_initial_conditions/cluster1688_ic_experiment_L480_t220000_d\[60\]____2023_01_05__16_16.pickle
analyses/varying_initial_conditions/cluster1113_ic_experiment_L1030_t95000_d\[60\]____2023_01_03__20_54.pickle
analyses/varying_initial_conditions/1234_ic_experiment_L80_t30_d\[60\]____2023_01_03__09_21.pickle
analyses/varying_initial_conditions/1234_ic_experiment_L80_t3000_d\[60\]____2022_12_29__11_16.pickle
analyses/varying_initial_conditions/cluster9898_ic_experiment_L530_t240000_d\[60\]____2023_01_06__04_19.pickle
analyses/varying_initial_conditions/cluster8783_ic_experiment_L380_t140000_d\[60\]____2023_01_04__20_41.pickle
analyses/varying_initial_conditions/cluster7526_ic_experiment_L430_t40000_d\[60\]____2023_01_03__09_08.pickle
analyses/varying_initial_conditions/cluster6484_ic_experiment_L630_t65000_d\[60\]____2023_01_03__11_42.pickle
analyses/varying_initial_conditions/cluster5607_ic_experiment_L530_t60000_d\[60\]____2023_01_03__10_41.pickle
analyses/varying_initial_conditions/cluster5264_ic_experiment_L730_t75000_d\[60\]____2023_01_03__13_40.pickle
analyses/varying_initial_conditions/cluster5168_ic_experiment_L430_t160000_d\[60\]____2023_01_05__01_22.pickle
analyses/varying_initial_conditions/cluster4970_ic_experiment_L330_t120000_d\[60\]____2023_01_04__16_57.pickle
analyses/varying_initial_conditions/cluster4328_ic_experiment_L330_t30000_d\[60\]____2023_01_03__08_35.pickle
analyses/varying_initial_conditions/cluster3887_ic_experiment_L930_t90000_d\[60\]____2023_01_03__18_09.pickle
analyses/varying_initial_conditions/cluster2789_ic_experiment_L830_t85000_d\[60\]____2023_01_03__16_06.pickle
analyses/varying_initial_conditions/cluster2467_ic_experiment_L480_t55000_d\[60\]____2023_01_03__10_08.pickle
analyses/varying_initial_conditions/cluster1977_ic_experiment_L380_t35000_d\[60\]____2023_01_03__08_49.pickle
analyses/varying_initial_conditions/cluster1688_ic_experiment_L480_t220000_d\[60\]____2023_01_05__16_16.pickle
analyses/varying_initial_conditions/cluster1113_ic_experiment_L1030_t95000_d\[60\]____2023_01_03__20_54.pickle
analyses/varying_initial_conditions/1234_ic_experiment_L80_t30_d\[60\]____2023_01_03__09_21.pickle
analyses/varying_initial_conditions/1234_ic_experiment_L80_t3000_d\[60\]____2022_12_29__11_16.pickle
analyses/varying_initial_conditions/jan03_longtimes.7z
