*.dat
*.ipynb
.ipynb_checkpoints/dimers_sim-checkpoint.py
.ipynb_checkpoints/
__pycache__/
__pycache__/dimers_sim.cpython-39.pyc
Classical_dynamics.ipynb
.ipynb_checkpoints/old_funcs-checkpoint.py
.ipynb_checkpoints/Classical_dynamics-checkpoint.ipynb
.ipynb_checkpoints/Classical_dynamics-checkpoint.ipynb
.ipynb_checkpoints/dimers_sim-checkpoint.py
Classical_dynamics.ipynb
.ipynb_checkpoints/dimers_sim-checkpoint.py
.ipynb_checkpoints/Classical_dynamics-checkpoint.ipynb
__pycache__/dimers_sim.cpython-39.pyc
__pycache__/dimers_util.cpython-39.pyc
*.ipynb
.ipynb_checkpoints/dimers_sim-checkpoint.py
__pycache__/dimers_sim.cpython-39.pyc
